<div class="card text-center">
    <img src="/images/me.jpg" class="card-image-top img-size">
    <div class="card-body">
      <h5 class="card-title"> Diego Gómez</h5>
      <ul class="list-group card-text">
        <li class="list-group-item">
          Github:
          <span ></span>
          <a href="github: https://github.com/degzcs">https://github.com/degzcs</a>
        </li>
        <li class="list-group-item">
          Email:
          <span ></span>
          <a href="mailto:diego.f.gomez.pardo@gmail.com">diego.f.gomez.pardo@gmail.com</a>
        </li>
        <li class="list-group-item">
          Twitter:
          <span ></span>
          <a href="https://twitter.com/diegogomezp">@diegogomezp</a>
        </li>
      </ul>
    </div>
</div>
